* {
  font-family: $montserrat;
  font-size: $font-md;
}

#app {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  overflow-x: hidden;
  height: 100vh;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 14px;
}

.scrollbar-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar-y__hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.scrollbar-y__hidden::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.scrollbar-y__hidden::-webkit-scrollbar-thumb {
  background: transparent;
  -webkit-box-shadow: none;
}