$montserrat: "Montserrat", "Helvetica Neue", Arial, sans-serif;

$secondary: #6C757D;
$gray-200: #E9ECEF;
$dark: #212529;
$light: #F8F9FA;
$danger: #DC3545;
$blue-500: #0D6EFD;

$font-md: 14px;
$font-bg: 16px;
$font-lg: 32px;

$sidebar-right-padding: 22px;
$sidebar-left-padding: 20px;

